/* Responsive */
/* Small Phone */
@media screen and (max-width: 390px) {
    /* General */
    hr{
        margin: 4rem auto;
        width: 100%;
    }
    /* Header */
    .navigator{
        display: none;
    }

    /* Main */
    
    main > div {
        display: flex;
        flex-direction: column;
    }
    .principal_picture{
        width: 80%;
    }
    .div_principal_text{
        width: 100%;
        margin-top: 1rem;
    }
    .principal_text{
        font-size: 1.2rem;
        text-align: center;
    }
    /* Soft SKills */
    .soft_skills_list{
        grid-template-columns: 1fr 1fr;
    }
    
    /* Hard SKills */
    .hard_skills_list{
        grid-template-columns: 1fr 1fr;
    }
    /* Portifólio */
    .building{
        display: none;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    /* General */
    /* Header */
    .navigator{
        display: none;
    }

    /* Main */
    .container{
        width: 100%;
    }
    main > div {
        display: flex;
        flex-direction: column;
    }
    .principal_picture{
        width: 80%;
    }
    .div_principal_text{
        width: 100%;
        margin-top: 1rem;
    }
    .principal_text{
        font-size: 1.2rem;
    }
    /* Soft SKills */
    .soft_skills_list{
        grid-template-columns: 1fr 1fr;
    }
    
    /* Hard SKills */
    .hard_skills_list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* Portifólio */
    .building{
        display: none;
    }
}